@using Portal.WebApp.Models.CourseViewModels
@using cloudscribe.Pagination.Models
@model PagedResult<CourseViewModel>
@{
    ViewData["Title"] = "Home Page";
    ViewData["Controller"] = "Home";
    ViewData["Action"] = "Index";
}

<div>
    @{
        if (Model.Data.Count() == 0)
        {
            <h1>No Courses Available</h1>
        }
        else
        {
            <partial name="_PaginationPartial" model="Model" view-data="ViewData"></partial>
            <div>
                @foreach (var course in @Model.Data)
                {
                    <div class="card" style="width: 18rem;display:inline-block;">
                        <div class="card-body">
                            <h5 class="card-title">@course.Name</h5>
                            <p class="card-text">@course.Description</p>
                            <a asp-controller="Course" asp-action="Details" asp-route-id="@course.Id" class="btn btn-primary">View</a>
                            <a asp-controller="Course" asp-action="SubscribeCourse" asp-route-id="@course.Id" class="btn btn-danger">Subscribe</a>
                        </div>
                    </div>   
                }
            </div>
        }
    }
</div>
