@using Portal.WebApp.Models.CourseViewModels
@using cloudscribe.Pagination.Models
@model PagedResult<CourseStateViewModel>

@{
    ViewData["Title"] = "MyCourses";
    ViewData["Controller"] = "Course";
    ViewData["Action"] = "MyCourses";
}

<div>
    @{
        if (Model.Data.Count() == 0)
        {
            <div>
                <img src="~/nodata.jpg" style="width:100%;height:100%;" />
            </div>
        }
        else
        {
            <div>
                <partial name="_PaginationPartial" view-data="ViewData" model="Model"></partial>
            </div>
            <div>
                @foreach (var course in @Model.Data)
                {
                    <div class="card" style="width: 18rem;display:inline-block;">
                        <img src="~/courseImg.jpg" style="height:100px;" class="card-img-top" alt="Image wasn't found">
                        <div class="card-body">
                            <h5 class="card-title">@course.Name</h5>
                            <p class="card-text">@course.Description</p>
                            <p class="card-subtitle">Progress: @course.Progress</p><br />
                            <a asp-controller="CourseState" asp-action="Details" asp-route-idCourseState="@course.Id" class="btn btn-primary">View</a>
                            <a asp-controller="Course" asp-action="UnsubscribeCourse" asp-route-idCourse="@course.CourseId" asp-route-idCourseState="@course.Id" class="btn btn-danger">UnSubscribe</a>
                        </div>
                    </div>   
                }
            </div>
        }
    }
</div>

